<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>©2022 Cheikh Kebe <a href="https://github.com/shanksthered">Mon github</a><span> <%=@attribution_url%></span></p>
</footer>
